<html>

<head>
<link rel=stylesheet type=text/css href="{{ url_for('static', filename='styles.css') }}">
</head>

<body>
<h1> New Menu Item </h1>

<form action='{{url_for('editMenuItem', restaurant_id=restaurant_id, menu_id=item.id )}}' method='POST'>

<label>Name:</label>

<input type='text' size='30' name='name' value='{{ item.name }}'>

<label>Price:</label>

<input type='text' size='30' name='price' value='{{ item.price }}'>

<label>Description:</label>

<input type='text' size='30' name='description' value='{{ item.description }}'>

<input type='submit' value='Edit'>

</form>

</body>
</html>
